/*GENERAL*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #555;
}
a {
  text-decoration: none;
  color: #555;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #555;
}

/*HEADER*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  height: 40px;
  font-size: 14px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
li {
  text-align: center;
  padding: 14px 12px;
}

.textenav {
  font-size: 0.9rem;
}

.menu-li {
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  background-color: transparent;
}
.menu-li:hover {
  background-color: rgba(100, 100, 100, 0.3);
  cursor: pointer;
}
.menu-button {
  width: 40px;
  height: 40px;
}
.user {
  margin-top: 6px;
  border-radius: 50%;
  width: 100%;
  width: 40px;
  height: 40px;
}

/*Main*/

.main-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  max-height: 800px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%; */
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}

.searchspace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 8px 0px 14px;
  border: #888 solid 0.1px;
  max-height: 160px;
  height: 30px;
  width: 500px;
  border: #f2f2f2 solid 1px;
  border-radius: 40px;
  font-size: 15px;
}
.searchspace:hover {
  box-shadow: 1px 1px 5px #888;
}
.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.input {
  margin: 5px 0 5px 0;
  width: 400px;
  height: 25px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 14px;
}
.mic {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding-right: 5px;
  width: 25px;
  height: 25px;
}
.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 25px;
  height: 25px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 18px 0px;
  color: #3c4043;
}

.but-1 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 11px 5px;
  padding: 0 16px;
  height: 36px;
  width: 150px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.but-1:hover {
  box-shadow: 1px 1px 4px #aba6a6;
}

.but-2 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  margin: 11px 5px;
  padding: 0 18px;
  height: 36px;
  width: 150px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.but-2:hover {
  box-shadow: 1px 1px 4px #aba6a6;
}
.space {
  min-height: 100px;
  width: 100%;
}
/*  FOOTER */

footer div ul li {
  padding: 0 5;
}
footer {
  width: 100%;
  background-color: #f2f2f2;
  height: 120px;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
}
.fr {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 52px;
}
.leaflog {
  display: inline-block;
  width: 12px;
  height: 13px;
  padding-right: 15;
}
.leaf {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.panel-1 {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.panel-2 {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
